@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #00A884;
  --color-bg-main: #F4F6F9;
  --color-bg-sidebar: #F5F7FA;
}

@layer base {
  body {
    @apply font-sans bg-bg-main text-slate-900 antialiased;
  }
}

@layer utilities {
  .font-small-caps {
    font-variant-caps: small-caps;
    @apply uppercase tracking-wider;
  }
}

.shadow-soft {
  box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.04), 0 12px 32px -8px rgba(0, 0, 0, 0.06);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes sonar-pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-sonar {
  animation: sonar-pulse 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}