@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #00A884;
  --color-bg-main: #F4F6F9;
  --color-bg-sidebar: #F5F7FA;
}

@layer base {
  body {
    @apply font-sans bg-bg-main text-slate-900;
  }
}

.shadow-soft {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
